.event-tooltip-content {
    /* background-color: #ccc; */
    padding: 10px 40px 5px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;
}

.popover-add-event, .popover-update-event, .popover-close {
	cursor: pointer;
}

.popover-add-event {
	float: right;
	margin-right: 5px;
	/*
	background-color: blue;
	color: white;
	border-radius: 20px;
	border: 1px solid black;
	width: 23px;
	text-align: center;
	font-weight: bold;
	*/
}

.popover-close {
	position: absolute;
	top: 2px;
	right: 5px;
}
