.encabezado {
	margin-top:0.5rem !important;
}
.guardaropasImg {
	width:35%;
	margin-top:50px;
}

.eventoImg {
	width:35%;
	margin-top:40px;
}


input[type="radio"] {
  display: none;
}

.clasificacion label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

.clasificacion label:hover,
label:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}