<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon ">  <img src="../public/img/menu_hamburgesa.png" style="width:30px" alt="menu"></span>
    </button>
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            <li class="nav-item active" style="margin: 5px;">
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="#">Cerrar Sesión</a></button>
            </li>
        </ul>
    </div>
</nav>



<div class="card container" style="margin:auto;padding:50px;width:max-content; margin-top: 50px;">
    <div class="col-xs-12">
        <div class="row center-block">
            <form style="margin-top: -20px;">
                <img src="../public/img/Calendar_google_black.png" alt="calendario" style="width:30px; margin-left:45.16%;">
                <div class="form-group" style="margin-top: 15px;">
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nombre del evento">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ubicación">
                </div>
                <div class="row">
                    <div class="col-xs-2" style="margin-right: 5px;">
                        <img src="../public/img/clock-with-white-face_icon-icons.com_72804.png" alt="Reloj" width="30px">
                    </div>
                    <div class="col-xs-4" style="margin-right: 5px;margin-left: 5px;">
                        <input type="datetime" class="form-control" id="exampleInputPassword1" style="max-width: 125px;" placeholder="Hora de inicio">
                    </div>
                    <div class="col-xs-4" style="margin-right: 5px;margin-left: 5px;">
                        <input type="datetime" class="form-control" id="exampleInputPassword1" style="max-width: 125px;" placeholder="Hora de fin">
                    </div>
                </div>
                <div class="row" style="margin:10px;margin-top: 15px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="width: 250px;" aria-expanded="false">
                            Estilo:
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Masculino</a>
                            <a class="dropdown-item" href="#">Femenino</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin:10px;margin-top: 15px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" style="width: 250px;" aria-expanded="false">
                            Atuendo:
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Masculino</a>
                            <a class="dropdown-item" href="#">Femenino</a>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;margin-left:65px;">
                    <div class="col">
                        <button type="submit" class="btn btn-danger">Agregar</button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-outline-dark" style="margin-left:-20px"><a href="#" style="color:black">Cancelar</a></button>
                    </div>
                </div>
                <div class="row">
                    <a href="#" class="text-danger" style="margin-top:10px;margin-bottom:-10px;margin-left:20px;">Mas detalles</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>