<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qu&eacute; Me Pongo?</h3>
    
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
            <li class="nav-item active" style="margin: 5px;">
                <a href="/login">
                <button type="button" class="btn btn-outline-dark text-dark"> Cerrar Sesión</button>
                </a>
            </li>
            {{else}}

            <li class="nav-item active" style="margin: 5px;">
                
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="/login">Iniciar Sesi&oacute;n </a></button>
                
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="card container" style="margin-top:5px;margin:auto;width:max-content;">
    <div class="row center-block" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-10 offset-1 text-center offset-sm-4"> 

            <form action="/addOutfit" method="POST">
                <div class="text-uppercase" >
                    <h3 class="tipoPrendaTitulo"> Agregar Outfit </h3>
                 </div>
                
                <div class="form-group" style="margin-top: 5px;">
                   <input type="text" class="form-control" name="outfitName" id="outfitName" placeholder="Nombre de outfitName">
                </div>

                <div class="form-group">
                    <div>
                        <select class="input-select form-control" name="estilo">
                            <option selected disabled>Estilo</option>
                            
                            {{#each estilos}}
                                <option value="{{this}}" type="estilo">{{this}}</option>
                            {{/each}} 

                        </select>
                    </div>
                </div>
                 <!--Col 1-->
                    <!--Torso-->
<!--
                <div class="row">
                    
                    <div class="col">
                        
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Torso:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <!--Cabeza-->
<!--
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cabeza:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <!--Piernas-->
<!--
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Piernas:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <!--Manos-->
<!--Col 2
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manos:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                    <!--Accesorios-->
<!--
                    <div class="col">
                        

                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Accesorios:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <!--Pies-->
<!--
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pies:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
-->
                        <!--Cuello-->
<!--
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Cuello:
                                </button>
                                <div class="dropdown-menu">
                                    <div class="dropdown-item" style="display: inline;">
                                        <div class="row">
                                            <div class="col-xs-4" style="margin-left:30px">
                                                <img src="../public/img/bufandaIcono.png" alt="imagen de la prenda" style="width: 40px;">
                                            </div>
                                            <div class="col-xs-8">
                                                <h6 style="font-size: 10px;">NombrePrenda</h6>
                                                <p style="font-size: 5px;">DescripcionPrenda</p>
                                                <input type="radio" aria-label="Radio button for following text input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
                <div class="row" style="margin-top:15px;">
                    <div class="col">
                        <button type="submit" class="btn btn-outline-dark"><a href="#" style="color:black">Cancelar</a></button>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-danger">Agregar</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


</body>
</html>