{{#partial "footer"}}
<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" style="display: inline-flex;justify-content: center;">
    <a class="navbar-brand" href="#">Bottom navbar</a>
    <a class="navbar-brand" href="#">Bottom navbar</a>
    <a class="navbar-brand" href="#">Bottom navbar</a>
</nav>
{{/partial}}
{{>login.hbs}}