<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/homeStyle.css">
	<!-- Bootstrap CSS/JS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
	<!-- END Bootstrap CSS/JS -->
    <title>¿Qué me pongo? | Home</title>
  </head>
  <body id="body">

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
            <li class="nav-item active" style="margin: 5px;">
                <a href="/login">
                <button type="button" class="btn btn-outline-dark text-dark"> Cerrar Sesión</button>
                </a>
            </li>
            {{else}}

            <li class="nav-item active" style="margin: 5px;">
                
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

	<div class="card container" style="margin-top:50px;">
	    <div class="row contenido" style="margin-top:5px;margin-bottom:5px;">
			<div class="col-md-3 offset-md-2 col-sm-4 offset-sm-4 guardaropas  text-center">
				<a {{#if login}}  href="/guardaropas" {{else}} href="/login" {{/if}}>
					<img src="/img/generico/guardaropas.png" class="guardaropasImg img-fluid rounded mx-auto d-block mr-md-10" alt="Imagen guardaropa">
				<h4 class="guardaropasTitulo text-dark text-uppercase"> Guardaropas </h4>
				</a>	
			</div>
			<div class="col-md-3 offset-md-2 col-sm-4 offset-sm-4 evento text-center">
				<a {{#if login}}  href="/events" {{else}} href="/login"  {{/if}} >
					<img src="/img/evento.png" class="eventoImg img-fluid rounded mx-auto d-block mr-md-10" alt="Imagen evento">
					<h4 class="eventoTitulo text-dark text-uppercase">Eventos</h4>
				</a>
			</div>
			
	    </div>
	</div>
		
  </body>
</html>
