<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="../public/js/home.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/css/homeStyle.css">
    <title>Home</title>
  </head>
  <body id="body">
	<header class="cabecera">
		<div class="titulo">	
			<h2> QUÉ ME PONGO?</h2>
		</div>	
		<div class="menu">&#9776;</div>
			<ul class="menu-options">
				<li class="bla">Home</li>
			</ul>
    </header>
	
    <div class="contenido">
		<div class="guardaropas">
			<img src="../public/img/guardaropas.png" class="guardaropasImg">
			<h3 class="guardaropasTitulo"> Guardaropas </h3>	
		</div>
		<div class="evento">
			
			<img src="../public/img/evento.png" class="eventoImg">
			<h3 class="eventoTitulo">Eventos</h3>
		</div>
		
		
    </div>
	
	
  </body>
</html>
