<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-danger bg-danger aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    text-align: center;"
    >¿Qué Me Pongo?</h3>
    
    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
            <li class="nav-item active" style="margin: 5px;">
                <a href="/login">
                <button type="button" class="btn btn-outline-dark text-dark"> Cerrar Sesión</button>
                </a>
            </li>
            {{else}}

            <li class="nav-item active" style="margin: 5px;">
                
                <button type="button" class="btn btn-outline-dark"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="card container" style="margin-top:5px;">
    
    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-4 text-center">  
            <h3> Mis guardaropas </h3>        
        </div>
    </div>
    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-4 text-center">  
           <img src="img/guardaropas.png" class="guardaropasImg" alt="Imagen guardaropa">   
        </div>
    </div>
    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-4 text-center">  
            <div class="dropdown btn-group">
                <button type="button" class="btn btn-outline-dark btn-danger dropdown-toggle" id="menuGuardaropas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    seleccionar guardaropa
                </button>
                <div class="dropdown-menu" aria-labelledby="menuGuardaropas">
                    {{#each guardaropas}}
                    <!-- usar button 
                    <button class="dropdown-item" type="button"> ble </button>-->
                    <a class="dropdown-item" href="/guardaropa/{{id_guardaropa}}">{{nombre}}</a>
                    {{/each}}
                </div>
            </div>   
        </div>
    </div>
    <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="col-xs-4 offset-xs-4 offset-7 text-center">  
                <button type="button" class="btn btn-outline-dark btn-danger" data-toggle="modal" data-target="#modalAgregarGuardaropa">Agregar</button>  
                <div class="modal fade" id="modalAgregarGuardaropa" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Agregar guardaropa</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/guardaropas" method="POST">
                                    <div class="form-group">
                                        <label for="nombreGuardaropa" class="col-form-label">Nombre del Guardaropa</label>
                                        <input type="text" class="form-control" name="nombreGuardaropa" id="nombreGuardaropa">
                                        <label for="descripcionGuardaropa" class="col-form-label">Descripción del Guardaropa</label>
                                        <input type="text" class="form-control" name="descripcionGuardaropa" id="descripcionGuardaropa">
                                    </div>
                                    <div>
                                        <a href="/guardaropas"> 
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
                                         </a> 
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                
                                </form>
                            </div>
                           
                        </div>
                    </div>
                </div>
            <a href="/home">
                <button type="button" class="btn btn-outline-dark btn-danger">Volver</button>  
            </a>
        </div> 
    </div>
   
</body>
</html>



