<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/generico/icono_percha.ico">
    <title>¿Qué me pongo? | Atuendo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark aling-items-center">
    <h3 style="font-family: Rouge Script;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    color:white;
    line-height: 42px;
    text-align: center;">¿Qué Me Pongo?</h3>

    <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
        <ul class="navbar-nav mr-auto" style="margin-left:65%;">
            {{#if login}}
                <li>
                    <a href="/home">
                        <p class="nav-link" style="margin-top:5px">Inicio</p>
                    </a>
                </li>
                <li>
                    <a href="/events">
                        <p class="nav-link" style="margin-top:5px">Eventos</p>
                    </a>
                </li>
                <li class="nav-item active" style="margin: 5px;">
                    <a href="/login">
                        <button type="button" class="btn btn-light text-dark"> Cerrar Sesión</button>
                    </a>
                </li>
            {{else}}

                <li class="nav-item active" style="margin: 5px;">
                    <button type="button" class="btn btn-light"> <a style="color:black" href="/login">Iniciar Sesión</a></button>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>

<div class="card container" style="margin:auto;padding:50px;width:max-content; margin-top: 50px;">
    <div class="row" style="text-align: center; display: inline-block; margin-bottom: 10px;">
        <p class="font-weight-normal text-danger" style="margin-top:10px; display: inline;">Mis outfits</p>
        <img src="../public/img/plus_icon.png" alt="+" width="40px" style="margin-left: 10px;">
    </div>
    <div class="row">
        <div class="card-columns">
        {{#each prendas}}
            <div class="card">
                <img src={{fotografo.imagenes.[0]}} class="card-img-top" alt="..." style="width: 20px;">
            </div>
        {{/each}}
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
<!--            <div class="card">-->
<!--                <img src="../public/img/relojIcono.png" class="card-img-top" alt="..." style="width: 20px;">-->
<!--            </div>-->
        </div>
    </div>
    <div class="row" style="display: inline-block; text-align: center;">
        <button type="button" class="btn btn-outline-dark" style="margin-right: 20px;border-radius:360px ;">
            <div class="col"style="display: inline;" >
                <img src="../public/img/flechacambio.png" style="transform:rotate(-180deg);width: 50px;" alt="">
            </div>
        </button>
        <button type="button" class="btn btn-outline-dark" style="margin-left: 20px;border-radius:360px ;">
            <div class="col" style="display: inline;">
                <img src="../public/img/flechacambio.png" style="width: 50px;" alt="">
            </div>
        </button>
    </div>
</div>

</body>
</html>