<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div style="
background: url(/img/background/guardaropa_5.png) no-repeat center top;
background-size: 100%;
width: 100%;
display:inherit;">

    <nav class="navbar navbar-expand-lg aling-items-center" style="background-color:transparent;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon ">  <img src="/img/generico/menu_hamburgesa.png" style="width:30px;"  alt="menu"></span>
        </button>
        <div class="collapse navbar-collapse aling-items-end" id="navbarSupportedContent" style="align-self: flex-end;">
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active" style="margin: 5px;">
                    <button type="button" class="btn btn-outline-dark"> <a style="color:bl" href="/usuario">Registrarse</a></button>
                </li>
            </ul>
        </div>
    </nav>
    <div class="card container" style="margin:auto;padding:50px;width:max-content; margin-top: 5px;">
        <div class="col-xs-12">
            <div class="row center-block">
                <form action="" method="POST" style="margin-top:-25px" >
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <label for="nombre">Usuario:</label>
                                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ej: Martín">
                            </div>
                            <div class="form-group">
                                <label for="apellido">Usuario:</label>
                                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ej: Martín">
                            </div>

                            <div class="form-group">
                                <label for="nombreDeUsuario">Usuario:</label>
                                <input type="text" class="form-control" name="nombreDeUsuario" id="nombreDeUsuario" placeholder="Ej: Martín">
                            </div>
                            <div class="form-group">
                                <label for="userPassword">Password</label>
                                <input type="password" class="form-control" name="password" id="userPassword" placeholder="Password">
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div style="width: 6rem;margin-top:50px;margin-left: 10px;">
                                <img src="/img/fotoUsuarioSinFoto.png" class="card-img-top" alt="...">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sexo">Sexo:</label>
                        <div>
                            <select class="input-select form-control" name="sexo" id="sexo">
                                <option selected disabled>Seleccionar</option>
                                <option type="membrecia">Femenino</option>
                                <option type="membrecia">Masculino</option>
                                <option type="membrecia">Unisex</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="membrecia">Membrecia:</label>
                        <div>
                            <select class="input-select form-control" name="membrecia">
                                <option selected disabled>Seleccionar</option>
                                {{#each membrecias}}
                                    <option value="{{id_membrecia}}" type="membrecia">{{descripcion}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Ej: example@utnfrba.com">
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono:</label>
                        <input type="number" class="form-control" name="telefono" id="phone" aria-describedby="emailHelp" placeholder="Ej: +5499999999">
                    </div>

                    <div class="row" style="margin-top:15px;">
                        <div class="col">
                            <button type="submit" class="btn btn-warning">Registrarse</button>
                        </div>
                        <div class="col">
                            <a href="/home" class="btn btn-outline-dark" style="color:black">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" style="display: inline-flex;justify-content: center;">
        <a class="navbar-brand" href="https://www.facebook.com/groups/DDSUTNFRBA/" target="_blank">
            <img src="/img/redes/face.png"  style="width:40px; border-radius:10px">
        </a>
        <a class="navbar-brand" href="https://www.instagram.com/ddsutnbaoficial/?hl=es-la" target="_blank">
            <img src="/img/redes/insta.png" style="width:40px; border-radius:10px">
        </a>
        <a class="navbar-brand" href="https://twitter.com/codeutnfra?lang=es" target="_blank">
            <img src="/img/redes/twitter.png" style="width:40px; border-radius:10px">
        </a>
    </nav>
</div>
</body>
</html>